.employerRegistration {
    background: var(--Color-White, #fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 67px 80px;
  }
  
  @media (max-width: 991px) {
    .employerRegistration {
      padding: 0 20px;
    }
  }
  
  .header {
    align-self: flex-start;
    display: flex;
    gap: 5px;
    color: rgba(37, 50, 75, 1);
    letter-spacing: -0.24px;
    font: 700 24px/1 Hind Vadodara, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .header {
      white-space: initial;
    }
  }
  
  .logo {
    aspect-ratio: 1.55;
    object-fit: contain;
    object-position: center;
    width: 45px;
  }
  
  .brandName {
    flex-basis: auto;
    margin: auto 0;
  }
  
  .title {
    margin-top: 61px;
    width: 733px;
    max-width: 100%;
    color: var(--Color-Black, #202430);
    text-align: center;
    font: 600 32px/1.2 Hind Vadodara, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .title {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  
  .subtitle {
    color: var(--Color-Black, #202430);
    text-align: center;
    opacity: 0.5;
    align-self: center;
    font: 400 16px/1.6 Epilogue, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .subtitle {
      max-width: 100%;
    }
  }
  
  .formContainer {
    margin-top: 41px;
  }
  
  @media (max-width: 991px) {
    .formContainer {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .formRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  @media (max-width: 1000px) {
    .formRow {
      flex-direction: column;
      align-items: stretch;
    }
  }
  
  .formColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: normal;
    width: 39%;
    margin-left: 0px;
    margin-right: 10px;
  }
  
  @media (max-width: 991px) {
    .formColumn {
      width: 100%;
    }
  }
  
  .formGroup {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font: 16px/1.6 Epilogue, sans-serif;
  }
  
  @media (max-width: 991px) {
    .formGroup {
      margin-top: 40px;
    }
  }
  
  .inputWrapper {
    display: flex;
    width: 100%;
    max-width: 263px;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 20px;
  }
  
  .label {
    color: var(--Neutrals-80, #515b6f);
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input {
    align-self: stretch;
    border: 1px solid var(--Neutrals-20, #d6ddeb);
    background: var(--Neutrals-0, #fff);
    margin-top: 4px;
    width: 100%;
    gap: 10px;
    color: var(--Neutrals-40, #a8adb7);
    font-weight: 400;
    padding: 12px 16px;
  }
  
  .formColumn2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 61%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .formColumn2 {
      width: 100%;
    }
  }
  
  .dropdown {
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--Neutrals-20, #d6ddeb);
    background: var(--Neutrals-0, #fff);
    display: flex;
    margin-top: 4px;
    width: 100%;
    gap: 40px 100px;
    font-weight: 400;
    white-space: nowrap;
    padding: 12px 16px;
  }
  
  @media (max-width: 991px) {
    .dropdown {
      white-space: initial;
    }
  }
  
  .dropdownPlaceholder {
    align-self: stretch;
    margin: auto 0;
    border: none;
    background: transparent;
    width: 100%;
    color: var(--Neutrals-40, #a8adb7);
    font-weight: 400;
  }
  
  .dropdownIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .textareaWrapper {
    display: flex;
    margin-top: 19px;
    min-height: 157px;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    font: 16px/1.6 Epilogue, sans-serif;
  }
  
  @media (max-width: 991px) {
    .textareaWrapper {
      max-width: 100%;
    }
  }
  
  .textarea {
    align-self: stretch;
    border: 1px solid var(--Neutrals-20, #d6ddeb);
    background: var(--Neutrals-0, #fff);
    margin-top: 4px;
    min-height: 113px;
    width: 100%;
    gap: 10px;
    color: var(--Neutrals-40, #a8adb7);
    font-weight: 400;
    white-space: nowrap;
    padding: 44px 16px;
  }
  
  @media (max-width: 991px) {
    .textarea {
      white-space: initial;
    }
  }
  
  .jobTitlesLabel {
    color: var(--Neutrals-80, #515b6f);
    align-self: start;
    margin-top: 4px;
    font: 600 16px/1.6 Epilogue, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .jobTitlesInput {
    align-self: start;
    border: 1px solid var(--Neutrals-20, #d6ddeb);
    background: var(--Neutrals-0, #fff);
    margin-top: 4px;
    gap: 10px;
    color: var(--Neutrals-40, #a8adb7);
    padding: 12px 16px;
    font: 400 16px/1.6 Epilogue, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .submitButton {
    align-self: center;
    background: var(--Brands-Primary, #4640de);
    margin-top: 42px;
    width: 408px;
    max-width: 100%;
    gap: 10px;
    color: var(--Neutrals-0, #fff);
    white-space: nowrap;
    text-align: center;
    padding: 12px 24px;
    font: 700 16px/1.6 Epilogue, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .submitButton {
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }