.header {
  padding: 10px; /* Adjust these values as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  padding: 20px;
  text-decoration: none;
  color: #333; /* Text color */
}

.header a:hover {
  background-color: #e0e0e0; /* Background on hover */
  border-radius: 5px; /* Optional: to give some rounded edges on hover */
}

.logoContainer {
  display: flex;
  color: #25324b;
  white-space: nowrap;
  letter-spacing: -0.24px;
  margin: auto 0;
  font: 700 24px/1 'Hind Vadodara', -apple-system, Roboto, Helvetica, sans-serif;
}

.logoImage {
  aspect-ratio: 1.;
  object-fit: contain;
  object-position: center;
  width: 45px;
}

.logoText {
  flex-basis: auto;
}

@media (max-width: 991px) {
  .logoContainer {
    white-space: initial;
  }
}

.navigation {
  display: flex;
  gap: 40px 60px;
  font-size: 16px;
  flex-wrap: wrap;
}

.navItem {
  color: #25324b;
  font-family: 'Hind Vadodara', -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.16px;
  flex-basis: auto;
  margin: auto 0;
  text-decoration: none;
}

.navItem:first-child {
  font-weight: 600;
}

@media (max-width: 991px) {
  .navigation {
    max-width: 100%;
  }
}

.authContainer {
  display: flex;
  gap: 20px;
  font-family: Epilogue, sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 1.6;
}

.loginButton,
.signupButton {
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.loginButton {
  color: #4640de;
  background-color: transparent;
}

.signupButton {
  background-color: #4640de;
  color: #fff;
}

@media (max-width: 991px) {
  .loginButton,
  .signupButton {
    padding: 12px 20px;
  }
}
.contentColumn {
  display: flex;
  flex-direction: column;
  width: 44%;
}


.imageColumn {
  width: 56%;
}


.blueRectangle {
    width: 350px;
    height: 20px;       
    background-color: #48acfc; 
    border-radius: 4px; 
  }

.hero {
    display: flex;
    justify-content: space-between;
    margin: 135px auto 0;
    max-width: 1295px;
    width: 100%;
  }
  
  .heroContent {
    display: flex;
    flex-direction: column;
    width: 44%;
  }
  
  .heroTitle {
    color: #25324b;
    font: 700 87px/87px 'Hind Vadodara', sans-serif;
    letter-spacing: -0.87px;
    margin: 0;
  }
  
  .highlight {
    font-weight: 600;
  }
  
  .subHighlight {
    font-weight: 500;
  }
  
  .decorativeImage {
    aspect-ratio: 14.49;
    margin-top: 29px;
    max-width: 100%;
    object-fit: contain;
    width: 291px;
  }
  
  .heroDescription {
    color: rgba(51, 27, 59, 0.66);
    font: 400 17px/25px 'Hind Vadodara', sans-serif;
    letter-spacing: 0.34px;
    margin: 29px 41px 0 0;
  }
  
  .ctaButton {
    align-self: flex-start;
    background-color: #4640de;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font: 700 17px/1 'Hind Vadodara', sans-serif;
    letter-spacing: 0.34px;
    margin-top: 55px;
    padding: 22px 49px;
    text-transform: uppercase;
  }
  .heroImageWrapper {
    width: 56%;
  }
  
  .heroImage {
    aspect-ratio: 1.31;
    object-fit: contain;
    width: 100%;
  }
  
  @media (max-width: 991px) {
    .hero {
      flex-direction: column;
      margin-top: 40px;
    }
  
    .heroContent,
    .heroImageWrapper {
      width: 100%;
    }
  
    .heroTitle {
      font-size: 40px;
      line-height: 45px;
    }
  
    .heroDescription {
      margin-right: 10px;
    }
  
    .ctaButton {
      margin-top: 40px;
      padding: 20px 40px;
    }
  
    .heroImage {
      margin-top: 36px;
    }
  }

.landingPage {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .landingPage {
    max-width: 100%;
    padding: 10px;
  }
}

.announcementsTitle {
  color: #25324b;
  font-size: 40px;
  line-height: 87px;
  letter-spacing: -0.87px;
  font-family: 'Hind Vadodara', -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center; /* Center the text */
  margin: 0 auto; /* Center horizontally with auto margins */
}

.separator {
  border: 0;
  height: 2px;
  background-color: #ccc; /* Change this color as needed */
  margin: 20px auto; /* Center horizontally with auto margins */
  width: 50%; /* Adjust this width to make the line shorter or longer */
}

* {box-sizing:border-box}
.slideshowContainer {
  width: 600px;
  height: 400px;
  position: relative;
  margin: auto; /* Centers the container horizontally */
  display: flex;
  justify-content: center; /* Centers slides horizontally */
  align-items: center; /* Centers slides vertically */
}

.slideImage {
  width: 800px;
  height: 400px;
  object-fit: cover; /* Adjusts the image to cover the area without distortion */
}

.mySlides {
  display: none;
}

.mySlides.active {
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.serviceCard {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 22px 52px;
}

.iconWrapper {
  border-radius: 10px;
  background-color: #26a4ff;
  display: flex;
  width: 52px;
  justify-content: center;
  padding: 9px 10px;
}

.icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.services-title {
  color: #25324b;
  letter-spacing: 0.88px;
  text-transform: uppercase;
  margin-top: 13px;
  font: 700 16px/1 'Hind Vadodara', -apple-system, Roboto, Helvetica, sans-serif;
}

.services-description {
  color: rgba(51, 27, 59, 0.66);
  letter-spacing: 0.3px;
  align-self: stretch;
  margin-top: 6px;
  font: 300 15px/22px 'Hind Vadodara', -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .serviceCard {
    margin-top: 38px;
    padding: 18px 20px 52px;
  }
}
.ourServices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: #25324b;
  letter-spacing: -0.48px;
  text-align: center;
  margin-left: 57px;
  font: 700 48px/1 'Hind Vadodara', -apple-system, Roboto, Helvetica, sans-serif;
}

.decorativeImage {
  aspect-ratio: 15.87;
  object-fit: contain;
  object-position: center;
  width: 159px;
  max-width: 100%;
  margin: 27px 0 0 88px;
}

.serviceGrid {
  display: flex;
  gap: 20px;
  margin-top: 98px;
  width: 100%;
}

@media (max-width: 991px) {
  .heading {
    font-size: 40px;
  }

  .serviceGrid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    max-width: 100%;
    margin-top: 40px;
  }
}

.aboutContainer {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .about-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.imageColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 57%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .imageColumn {
    width: 100%;
  }
}

.aboutImage {
  aspect-ratio: 1.07;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .aboutImage {
    max-width: 100%;
    margin-top: 40px;
  }
}

.contentColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 43%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .contentColumn {
    width: 100%;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  letter-spacing: 0.34px;
  margin: auto 0;
  font: 17px Hind Vadodara, sans-serif;
}

@media (max-width: 991px) {
  .contentWrapper {
    max-width: 100%;
    margin-top: 40px;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  color: rgba(51, 27, 59, 0.66);
  font-weight: 400;
  line-height: 25px;
  padding: 0 1px;
}

@media (max-width: 991px) {
  .textContent {
    max-width: 100%;
  }
}

.aboutTitle {
  color: rgba(37, 50, 75, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: -0.48px;
  align-self: start;
}

@media (max-width: 991px) {
  .aboutTitle {
    font-size: 40px;
    line-height: 47px;
  }
}

.aboutDescription {
  margin-top: 15px;
}

@media (max-width: 991px) {
  .aboutDescription {
    max-width: 100%;
  }
}

.aboutServices {
  margin-top: 24px;
}

@media (max-width: 991px) {
  .aboutServices {
    max-width: 100%;
    margin-right: 3px;
  }
}

.exploreButton {
  border-radius: 10px;
  background-color: rgba(70, 64, 222, 1);
  align-self: start;
  margin-top: 35px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 22px 41px;
}

@media (max-width: 991px) {
  .exploreButton {
    padding: 22px 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.contactSection {
  border-radius: 0 158px 0 0;
  background-color: #f8f8fd;
  display: flex;
  gap: 40px 100px;
  flex-wrap: wrap;
  padding: 75px 66px 45px;
  width:100%;
}

@media (max-width: 991px) {
  .contactSection {
    padding: 0 20px;
  }
}

.contactInfo {
  align-self: start;
  display: flex;
  margin-top: 12px;
  flex-direction: column;
  align-items: start;
  font-family: Hind Vadodara, -apple-system, Roboto, Helvetica, sans-serif;
  color: #25324b;
  line-height: 1;
}

.contactSubtitle {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.4px;
}

.contactTitle {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.48px;
  margin-top: 4px;
}

@media (max-width: 991px) {
  .contactTitle {
    font-size: 40px;
  }
}

.contactDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.32px;
  align-self: stretch;
  margin-top: 22px;
}

.mapContainer {
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .mapContainer {
    max-width: 100%;
  }
}

.mapLink {
  color: #51a0dc;
  align-self: end;
  margin-right: 34px;
  font: 400 14px/2 Hind Vadodara, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .mapLink {
    margin-right: 10px;
  }
}

.mapWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 300px;
  margin-top: 11px;
  width: 100%;
  align-items: start;
  color: #414141;
  padding: 26px 32px 190px;
  font: 700 16px/22px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .mapWrapper {
    max-width: 100%;
    padding: 0 20px 100px;
  }
}

.mapImage {
  position: absolute;
  inset: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.locationLabel {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: -38px;
  width: 197px;
  max-width: 100%;
  padding: 7px 10px 41px;
}

@media (max-width: 991px) {
  .locationLabel {
    margin-bottom: 10px;
    padding-right: 20px;
  }
}

.locationCity {
  font-family: Hind Vadodara, sans-serif;
}

.locationState {
  font-family: Hind Vadodara, sans-serif;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.footer {
  background: var(--Color-Black, #202430);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 54px 80px;
 
}

@media (max-width: 991px) {
  .footer {
    padding: 0 20px;
  }
}

.footerContent {
  display: flex;
  width: 756px;
  max-width: 100%;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-between;
}

.logoSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.logoWrapper {
  align-self: flex-start;
  display: flex;
  gap: 12px;
  color: var(--Color-White, #fff);
  white-space: nowrap;
  letter-spacing: -0.24px;
  font: 700 24px Hind Vadodara, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .logoWrapper {
    white-space: initial;
  }
}

.logo {
  aspect-ratio: 1.55;
  object-fit: contain;
  object-position: center;
  width: 45px;
  margin: auto 0;
}

.brandName {
  font-feature-settings: "cv11" on;
  flex-basis: auto;
}

.description {
  color: var(--Neutrals-20, #d6ddeb);
  margin: 32px 0 0 17px;
  font: 400 16px/26px Epilogue, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .description {
    margin-left: 10px;
  }
}

.footerColumn {
  display: flex;
  flex-direction: column;
  font-family: Epilogue, sans-serif;
}

.columnTitle {
  color: var(--Neutrals-0, #fff);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  align-self: flex-start;
}

.columnList {
  color: var(--Neutrals-20, #d6ddeb);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 22px;
  list-style-type: none;
  padding: 0;
}

.columnItem {
  margin-bottom: 10px;
}

.divider {
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 0;
  align-self: flex-end;
  margin-top: 175px;
  max-width: 1192px;
}

@media (max-width: 991px) {
  .divider {
    max-width: 100%;
    margin-top: 40px;
  }
}

.copyright {
  color: var(--Color-White, #fff);
  margin: 42px 0 0 17px;
  font: 500 16px/1.6 Epilogue, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .copyright {
    margin: 40px 0 0 10px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}